[package]
name = "linkje-api"
version = "0.1.0"
edition = "2018"

[lib]
name = "linkje_api"
path = "src/api.rs"

[[bin]]
name = "linkje"
path = "src/main.rs"

[dependencies]
log = "0.4"
env_logger = "0.9.0"
pretty_env_logger = "0.4"
tokio = { version = "1", features = ["full"] }
warp = "0.3"
serde = { version = "1.0", features = ["derive"] }
serde_json = { version = "1.0"}
mongodb = "2.0.0"

fake = "2.2"